#To set language on github repository
*.sh linguist-language=Shell
*.R linguist-language=R
*.Rmd linguist-language=R
*.html linguist-language=R
*.sh eol=Shell
*.R eol=R
*.Rmd eol=R
*.html eol=R
